tunnel: <CLOUDFLARE_TUNNEL_ID>
credentials-file: <ABSOLUTE_PATH_OUTSIDE_GIT_TO_TUNNEL_CREDENTIALS_JSON>

ingress:
  - hostname: wearedge-agent.example.com
    service: http://127.0.0.1:8081
  - service: http_status:404
